.Viewcart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem;
  margin: 2rem;
  background-color: rgb(224, 226, 228);
  border-radius: 15px;
}

.sidebar {
  z-index: 111;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 30%;
  top: 5rem;
  margin-right: 10rem;
  margin-left: 5rem;
  position: sticky;
}
.mysubscriptions {
  display: flex;
  flex-wrap: wrap;
}
.subscriptiondetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order_card {
  background-color: white;
  padding: 1rem;
  margin: 0.5rem;
}
.subscriptiondetails img {
  width: 40%;
  height: 9rem;
  margin: 6px;
  border-radius: 15px;
}

.address-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-form label {
  font-weight: bold;
}

.Subscriptioncontainer {
  width: 70%;
}

@media (max-width: 768px) {
  .Viewcart {
    flex-direction: column;
  }
  .sidebar {
    width: auto;
    z-index: 0;
    margin-right: 0;
    margin: 2rem;
    margin-left: 0;
    position: relative;
  }
  .Subscriptioncontainer {
    width: auto;
  }
}
