.Viewcart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/moringfood.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    height: fit-content;
      /* max-width: 1200px; */
      -ms-flex-align: center;
      margin: 0 auto;
      padding: 0 15px;
      flex-direction: column;
  }
  #cartItem{
    height: 50%;
    padding: 1rem;
    background-color: var(--color1);
    border-radius: 15px;
    overflow-y: scroll;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.829);
    border: 1px solid #ccc;
    
    padding: 1rem;
    margin: 1rem;
  }
  
  .head {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
 /* Style for the parent container */
.foot {
  display: flex;
  height: 50%;
    padding: 1rem;
  flex-direction: column;
  background-color: var(--color1);
  border-radius: 15px;
  overflow-y: scroll;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

/* Style for the "Total" section */
.totalprice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalprice h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.totalprice #total {
  font-size: 24px;
  font-weight: bold;
  color: #FF8C00; /* Change color as desired */
}

/* Style for the "Your Credit" section */
.creditsuser {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.creditsuser h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for the credit value */
.creditsuser h2:last-of-type {
  font-size: 24px;
  font-weight: bold;
  color: #008000; /* Change color as desired */
}

  #balance {
    font-weight: bold;
  }
  
  .orderbtn {
    background-color: #e00d0d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0rem 1rem;
    /* margin-top: 1rem; */
    cursor: pointer;
  }
  
  .orderbtn:hover {
    background-color: #0069d9;
  }
  
  #checkoutLink {
    display: none;
  }

/* address form  */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.address-form-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.address-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#address-close:hover,
#address-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* adjust form styles within modal */
.modal-content form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* adjust label and input styles */
.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* style the checkout button */
.modal-content button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.modal-content button:hover {
  background-color: #45a049;
}

  
.viewcart {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.viewcart img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin-right: 1rem;
}

.viewcart_box {
  flex: 1;
}

.viewcart_box_name {
  font-size: 1.2rem;
  margin: 0 0 0.5rem;
}

.viewcart_box_price {
  font-size: 1.2rem;
  margin: 0;
}

.viewcart_box_control {
  display: flex;
  align-items: center;
}

.viewcart_box_control a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin: 0 0.5rem;
}

.viewcart_box_control a img {
  width: 30px;
  height: 30px;
}

.viewcart_box_control a:hover {
  cursor: pointer;
}

.viewcart_box_control p {
  font-size: 1.2rem;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .viewcart img {
    width: 6rem;
    height: 6rem;
  }

  .viewcart_box_name {
    font-size: 1rem;
  }

  .viewcart_box_price {
    font-size: 1rem;
  }

  .viewcart_box_control p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .viewcart img {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
  }

  .viewcart_box_name {
    font-size: 0.8rem;
  }

  .viewcart_box_price {
    font-size: 0.8rem;
  }

  /* .viewcart_box_control a {
    width: 1rem;
    height: 1rem;
    margin: 0 0.2rem;
  } */

  .viewcart_box_control p {
    font-size: 0.8rem;
    /* margin: 0 0.3rem; */
  }
}
