.razorpay-checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* button {
    padding: 10px;
    background-color: #F37254;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f05e41;
  } */
  
  /* div {
    margin-top: 20px;
    font-size: 
  }   */