<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Healthy Inside</title>
        <link rel="icon" type="image/x-icon" href="/img/hi_logo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href=" css/style.css">
    </head>
<body onload="displaycart()">
    <section id="header">
        <a href="welcome"><img src=" img/hi_logo.png" class="logo" alt="logo"></a>

        <div>
            <ul id="navbar">
                <!-- <li><a href="welcome" onclick="savedata1()">Home</a></li> -->
                <li><a href="welcome">Home</a></li>
                <li><p><a href="account"><%= dynamicDisplay.name %></a></p></li>
                <a class="active" href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <span><a href="account"><%= dynamicDisplay.name %></a></span>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <!-- <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop Now</button>
    </section> -->

    <!-- <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Products</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
        </table>
    </section> -->

    <!-- <iframe src="addtocart.html" frameborder="0"></iframe> -->

    <div class="sidebar">
        <div id="add-address">
            <button id="add-address-btn"><i class="fa-solid fa-plus"></i></button> <span>Add Adress</span>
        </div>
        <div class="head"><p>My Cart</p></div>
        <div id="cartItem">Your cart is empty</div>
        <div class="foot">
            <h3>Total</h3>
            <h2 id="total">$ 0.00</h2>
            
        </div>
        <div class="foot">
            <h3>Your Credit</h3>
            <h2 id="balance"><%= dynamicDisplay.credits %></h2>
        </div>

        <div id="address-display"></div>
        
        <button onclick="checkout()" class="orderbtn">Place Order</button>
        <a href="orderPlaced" id="checkoutLink">hello</a>
    </div>
    <form id="address-form" class="address-form">
        <div class="address-form-heading">
            <div class="addressheading">
                <h3>Enter Address</h3>
            </div>
            <div class="address-close">
                <a href="#" id="address-close"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="address-line1">Address Line 1:</label>
        <input type="text" id="address-line1" name="address-line1" required>
        
        <label for="address-line2">Address Line 2:</label>
        <input type="text" id="address-line2" name="address-line2">
        
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>
        
        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>
        
        <label for="zip">Zip Code:</label>
        <input type="text" id="zip" name="zip" required>
        
        <input type="submit" value="Submit">
    </form>
    <div id="alert-box"></div>

    

    

    

   
    
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="img/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Adress:</strong> Jawahar Nagar, Nanakheda, Ujjain</p>
            <p><strong>Phone:</strong> +911122334455/ +912233445566</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon-Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Term & Condition</a>
            <a href="#">Contact US</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google play</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>©️ 2023, Somitra - Project Website</p>
        </div>

    </footer>

    <script src=" js/home.js"></script>
    <script src=" js/addtocart.js"></script>
    <script src=" js/address.js"></script>
    
</body>
</html>