<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Inside</title>
    <link rel="stylesheet" href=" css/mystyle.css">
</head>

<body>
    <div class="login">
        <h1>Login</h1>
        <form action="/" method="post">
            <label for="userName">Your E-mail </label> <br>
            <input type="email" name="userName" id="userName" placeholder="someone@xyz.com"> <br>
            <label for="password">Password </label> <br>
            <input type="password" name="password" id="password" placeholder="*********"> <br>
            <button type="submit" name="submit">Log In</button>
        </form>
    </div>
</body>
</html>