<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/img/hi-logo2.PNG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body onload="reload()">
    <section id="header">
        <a href="#"><img src="img/hi-logo2.PNG" class="logo" alt="logo"></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><p><button id="kit-claim" onclick="kitfunction()">Claim your Kit</button></p></li>
                <li><p><a href="account"><%= dynamicDisplay['Player Name']%></a></p></li>
                <!-- <li><a id="lg-bag" onclick="savedata()" href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li> -->
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <span> Red Hill Labs</span>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="hero">
        <!-- <div class="hero-background">
            <img src="img/hi_logo.png" alt="">
        </div> -->
        <!-- <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop Now</button> -->

        <!-- <div class="img-slider">
            <div class="slide active">
              <img src="img/hero_background/Bhel Makhani 2.jpg" alt="">
              <div class="info">
                <h2>Slide 01</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <div class="slide">
              <img src="img/hero_background/Oil Free Chole 1.jpg" alt="">
              <div class="info">
                <h2>Slide 02</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <div class="slide">
              <img src="img/hero_background/Pulse Tikki 2.jpg" alt="">
              <div class="info">
                <h2>Slide 03</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
           
            <div class="navigation">
              <div class="btn active"></div>
              <div class="btn"></div>
              <div class="btn"></div>
              
            </div>
          </div> -->

          <div class="slider">
            <div class="slides">
              <!--radio buttons start-->
              <input type="radio" name="radio-btn" id="radio1">
              <input type="radio" name="radio-btn" id="radio2">
              <input type="radio" name="radio-btn" id="radio3">
              
              <!--radio buttons end-->
              <!--slide images start-->
              <div class="slide first">
                <div class="slides-content">
                    <h1>Healthified tasty breakfast meals</h1>
                    <a href="#breakfast">Coming Soon</a>

                </div>
                <img src="img/hero_background/Bhel Makhani 2.jpg" alt="">
              </div>
              <div class="slide">
                <div class="slides-content">
                    <h1>Subscribe for Daily Breakfast Packages</h1>
                    <a href="#lunch">Coming Soon</a>
                </div>                
                <img src="img/hero_background/Oil Free Chole 1.jpg" alt="">
              </div>
              <div class="slide">
                <div class="slides-content">
                    <h1>  Exclusive range of fitness equipments     </h1>
                    <a href="#dinner">Coming Soon</a>
                </div>
                <img src="img/hero_background/ff2.jpeg" alt="">
              </div>
              
              <!--slide images end-->
              <!--automatic navigation start-->
              <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
              </div>
              <!--automatic navigation end-->
            </div>
            <!--manual navigation start-->
            <div class="navigation-manual">
              <label for="radio1" class="manual-btn"></label>
              <label for="radio2" class="manual-btn"></label>
              <label for="radio3" class="manual-btn"></label>
            </div>
            <!--manual navigation end-->
          </div>
      
    </section>

    

    <section id="product1" class="section-p1">
        <div id="breakfast"></div>
        <h2>Breakfast</h2>
        <p>Enjoy our healthy and light breakfast.</p>
        <div class="pro-container card-slider" id="shop-section1">
          
        </div>
        <div id="lunch"></div>
        <h2>Lunch</h2>
        <p>Enjoy our nutritious lunch.</p>
        <div class="pro-container card-slider" id="shop-section2">
           </div>
        <div id="dinner"></div>
        <h2>Fitness Equipment</h2>
        <p>We have variety of fitness equipments.</p>
        <div class="pro-container card-slider" id="shop-section3">
          
        </div>
        
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="img/features/f1.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f2.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f3.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f4.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f5.png" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f8.png" alt="">
            <h6>Vegan</h6>
        </div>
        
    </section>
    
    <a href="/cart" onclick="savedata()" id="floatingButton"><i class="fa-solid fa-cart-shopping floating-button"></i></a>
    <div id="alert-box"></div>

    <div class="login" id="popup-form-kit">
        <div class="login-formheading">
            <div class="login-heading">
                <h1>Enter Your Details</h1>
            </div>
            <div class="login-close">
                <a onclick="closekitfunction()" id="login-close-kit"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
        <form action="" name="kit-claim" autocomplete="on" method="post">
            <label for="Name">Name</label> <br>
            <input type="text" name="Name" id="nameofplayer" placeholder="Your Name" required> <br>
            <label for="Name">Name on Kit</label> <br>
            <input type="text" name="Nickname" id="nicknameofplayer" placeholder="Name on Your kit" required> <br>
            <label for="number">Jersey number </label> <br>
            <input type="number" name="Jerseynumber" id="jerseynumber" placeholder="1-99" required> <br>
            <label for="jerseynumber">Size</label> <br>
            <select id="jerseysize" name="Jerseysize" required>
                <option value="30">30</option>
                <option value="32">32</option>
                <option value="34">34</option>
                <option value="36">36</option>
                <option value="38">38</option>
                <option value="40">40</option>
                <option value="42">42</option>
                <option value="44">44</option>
                <option value="46">46</option>
                <option value="48">48</option>
                <option value="50">50</option>
                <option value="52">52</option>
                <option value="54">54</option>
                <option value="56">56</option>
                <option value="58">58</option>
              </select> <br>
            <label for="address">Address</label> <br>
            <textarea id="address2" name="Address" rows="5" cols="20" required></textarea> <br>
            <button type="submit" name="submit">Submit</button>
        </form>
    </div>
    
    <div id="confirmation-box">
      
    </div>
    

    <footer class="section-p1">
        <div class="col">
            <h4>Red Hill Labs</h4>
            <h4>Contact</h4>
            <p><strong>Adress:</strong>285 G, Nyay Khand 1, Indrapuram, Ghaziabad</p>
            <p><strong>Phone:</strong> +919456051975</p>
            
            

        <!-- <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google play</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="img/pay/pay.png" alt="">
        </div> -->

        

    </footer>
    <!-- <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbymAQ6nUZY7obuzXKYwaZzCJ4xd04qbOFRd21g9tKcH2Adi6WuuW0qtGGHc8Qu5uDpt/exec'
        const form = document.forms['kit-claim']
      
        form.addEventListener('submit', e => {
          
          e.preventDefault()
          fetch(scriptURL, { method: 'POST', body: new FormData(form)})
            .then(response => alert("Thank you! your form is submitted successfully." ))
            .then(() => {  window.location.reload(); })
            .catch(error => console.error('Error!', error.message))
        })
      </script> -->
    <script src="js/addtocart.js"></script>
    <script  src="js/home.js"></script>
</body>
</html>