.MorningFood {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/moringfood.jpg);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  height: 700px;
    /* max-width: 1200px; */
    -ms-flex-align: center;
    margin: 0 auto;
    padding: 0 15px;
    flex-direction: column;

  }
  .line-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
  .text{
    color: var(--color3);
    padding: 5px;
    background-color: var(--color1);
  }
  .line{
    padding: 0rem;
    width: 21rem;
    height: 0px;
    margin: 1rem;
  }
  
  .Morning_Food_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow: scroll;
    margin: 0rem 5rem;
    border-radius: 20px;
    background-color: var(--color1);
  }
  .Foodcard{
    display:flex;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 600px) {
    .MorningFood {
      overflow-y: scroll;
      padding: 2rem;
      flex-direction: column;
    }
  }
  