.MorningFood {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/moringfood.jpg);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  height: fit-content;
    /* max-width: 1200px; */
    -ms-flex-align: center;
    margin: 0 auto;
    padding: 0 15px;
    flex-direction: column;

  }
  .line-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2rem; */
  }
  .text{
    color: var(--color1);
    padding: 5px;
  }
  .line{
    padding: 0rem;
    color: var(--color2);
    width: 21rem;
    height: 0px;
    margin: 0.5rem;
  }
  
  .Morning_Food_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    margin: 0rem 5rem;
    border-radius: 20px;
    background-color: var(--color1);
  }
  .Foodcard-container{
    display:flex;
    flex-wrap: wrap;
    margin: 2rem;
    overflow-y: scroll;
    justify-content: space-between;
    align-items: center;
  }
  @media only screen and (max-width: 600px) {
    .MorningFood {
      /* padding: 2rem; */
      flex-direction: column;
    }
    .Morning_Food_Container{
    width: 100%;
    display: block;
    }
    .Foodcard-container{
      flex-direction: column;
    }
    .line-container{
    width: 20rem;
    }
  }
  