ul.dropdown-menu {
  position: absolute;
  top:69%;
  background-color: var(--color1);
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 999;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
}

ul.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent var(--secondary) transparent;
}

ul.dropdown-menu li {
  list-style-type: none;
}

ul.dropdown-menu li a{
  text-decoration: none;
  padding: 10px;
  color: var(--color3);
  cursor: pointer;

}

ul.dropdown-menu li a:hover{
  background-color: var(--primary);
}

li:hover ul.dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* main header */

#header_container{
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 4;
  border-bottom: 1px solid #ddd;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color1);
  color: black;
  /* padding: 0.3rem; */
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
 
}

#header_login{
border: 1.5px solid var(--color2);
padding:.2rem 1rem;
color:var(--secondary);
text-decoration: none;
}
#header_login_admin{
  color:var(--secondary);
text-decoration: none;
font-size: larger;
text-transform: capitalize;

}

#header_Signup{
margin-left: 5px;
padding:.3rem 1rem;
color: var(--color1);
text-decoration: none;
background-color: var(--secondary);
}

#header_Signup:hover{
  background-color: var(--primary); 
}
#header_login:hover{
  border: 2px solid var(--primary);
}
#header_logo{
  text-decoration: none;
  font-size: .9rem;
  display: flex;
  margin-left: 5px;
  align-items: center;
  color: var(--secondary);
}
#header_logo_admin{
  text-decoration: none;
  margin-left: 15px;
  font-size: 15.3px;
  color: var(--secondary);

}

.logo {
  width: 50px;
  height: 50px;
}

#navbar_container{ 

  flex: 1 0 auto;
    margin-right: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

#navbar li #header_link{
  cursor: pointer;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color3);
    text-decoration: none;
    /* margin: 1rem; */
    padding: 1px 12px;
}


#header_search{
  border-radius: 10px;
  /* padding: 5px; */
  margin: 5px;
  border: 1px solid var(--primary);
  cursor: pointer;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color3);
    text-decoration: none;
    /* margin: 1rem; */
    padding: 3px 12px;
}

#header_search:hover{
  border: 2px solid var(--secondary);
}

#close {
  margin-left: auto;
  color: black;
  text-decoration: none;
}

#close:hover {
  color: #333;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  #mobile {
    display: block;
  }
  ul.dropdown-menu {
    top: 15%;
  }
  .mobilemenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    background-color: white;
    padding: 2rem;
    z-index: 1000;
  }
  .mobilemenu img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .mobilemenu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Change to align items to left */
    justify-content: center;
    list-style: none;
    /* height: 25%; */
  }
  .mobilemenu li {
    margin: 1rem;
    text-align: center;
    background-color: transparent; /* Set initial background color to transparent */
    transition: background-color 0.2s ease-in-out; /* Add transition effect */
  }
  .mobilemenu li:hover {
    background-color: #d0d0d0; /* Add background color on hover */
  }
  .mobilemenu li p {
    /* font-size: 2rem; */
  }
  .mobilemenu a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    /* display: block; Display as block to take up full width of list item */
    /* padding: 1rem; Add padding for visual effect */
  }
  
.mobilemenu a:hover {
  color: white; /* Change text color on hover */
}
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar {
    display: none;
  }

  #bar {
    font-size: 24px;
    margin-left: 10px;
  }

  .active {
    display: block;
  }
}

/* claim kit form */

#kit-claim {
  color: black;
  /* padding: 0.5rem 1rem; */
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#claim-kit-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

#claim-kit-form {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#claim-kit-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

#claim-kit-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#claim-kit-form input,
#claim-kit-form select,
#claim-kit-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

#claim-kit-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#claim-kit-form button[type="submit"]:hover {
  background-color: #45a049;
}

.closeShowClaimKitForm {
  position: relative;
  bottom: 50px;
  left: 15rem;
  cursor: pointer;
  z-index: 9999;
}

.closeShowClaimKitForm img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.closeShowClaimKitForm:hover img {

  opacity: 1;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  #claim-kit-form {
    max-width: 90%;
    margin: auto;
  }
  .closeShowClaimKitForm {
    left: 21rem;
    right: 10px;
  }
}

/* Medium screens */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  #claim-kit-form {
    max-width: 70%;
    margin: auto;
  }
  .closeShowClaimKitForm {
    left: 14rem;
    right: 20px;
  }
}

/* Large screens */
@media only screen and (min-width: 900px) {
  #claim-kit-form {
    max-width: 500px;
    margin: auto;
  }
  .closeShowClaimKitForm {
    left: 32rem;
    right: auto;
  }
}