.signupform {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }
  
  .signupform form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  
  .signupform label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signupform input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px lightgray;
    width: 100%;
  }
  
  .signupform button {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
  }
  
  .signupform button:hover {
    background-color: var(--secondary)
  }
  
  @media (max-width: 768px) {
    .signupform form {
      max-width: 100%;
    }
  }
  