.footer {
  font-family: 'Zilla Slab', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 100%; */
    padding: 2rem;
    background-color:rgb(238, 236, 236);
  }
  .footer_container{
    width: 100%;
    margin: 1rem;
  padding: 2rem;
 
  }
.ror_footer{
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  /* border-radius: 15rem; */
  align-items:flex-start;
}
.ror_footer img{
  width: 20px;
  height: 20px;
}

  .footerline{
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    
  .footer_container {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
  }
}