.footer {
  font-family: 'Zilla Slab', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer_container{
    width: 100%;
    /* padding: 30px; */
  }
.ror_footer{
  display: flex;
  background-color:var(--primary);
}
.col{
  margin: 2rem;
}
  .col_option{
    
    display: flex;
    padding: 1rem;
  }
  
  .col_option ul{
    list-style-type: none;
    margin: 3rem;

  }
  .section-p1 .col {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 10px;
  }
  
  .section-p1 h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-p1 p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .section-p1 strong {
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .col_option {
  flex-direction: column;
  }
}