#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(196, 210, 226);
  color: black;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 

}

.logo {
  width: 50px;
  height: 50px;
}

#navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  margin-right: 1rem;
}

#navbar a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
}
#navbar li :hover{
  color: #fff;
}

#kit-claim {
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}


#close {
  margin-left: auto;
  color: black;
  text-decoration: none;
}

#close:hover {
  color: #333;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  #mobile {
    display: block;
  }
  .mobilemenu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    background-color: white;
    padding: 2rem;
    z-index: 1000;
  }
  .mobilemenu img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .mobilemenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* margin-top: 3rem; */
  }
  .mobilemenu li {
    margin: 1rem;
    text-align: center;
  }
  .mobilemenu li p {
    font-size: 2rem;
  }
  .mobilemenu a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
  }
  .mobilemenu a:hover {
    color: #d0d0d0;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar {
    display: none;
  }

  #bar {
    font-size: 24px;
    margin-left: 10px;
  }

  .active {
    display: block;
  }
}

/* claim kit form */
#claim-kit-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

#claim-kit-form {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#claim-kit-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

#claim-kit-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#claim-kit-form input,
#claim-kit-form select,
#claim-kit-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

#claim-kit-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#claim-kit-form button[type="submit"]:hover {
  background-color: #45a049;
}

.closeShowClaimKitForm {
  position: relative;
  bottom: 50px;
  left: 15rem;
  cursor: pointer;
  z-index: 9999;
}

.closeShowClaimKitForm img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.closeShowClaimKitForm:hover img {

  opacity: 1;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  #claim-kit-form {
    max-width: 90%;
    margin: auto;
  }
  .closeShowClaimKitForm {
    left: 110px;
    right: 10px;
  }
}

/* Medium screens */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  #claim-kit-form {
    max-width: 70%;
    margin: auto;
  }
  .closeShowClaimKitForm {
    left: auto;
    right: 20px;
  }
}

/* Large screens */
@media only screen and (min-width: 900px) {
  #claim-kit-form {
    max-width: 500px;
    margin: auto;
  }
  .closeShowClaimKitForm {
    left: 9rem;
    right: auto;
  }
}