
:root {
	--secondary:#498307;
	--primary:#32CD32; 
	--color1:#ffffff;
  --color2:rgb(161, 158, 158);
  --color3:black;

  }


body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
	overflow-x: hidden;
  }
