.login {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .login h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .login label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  
  .login input[type="email"],
  .login input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .login button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .login button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  #continue_with_google {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .GoogleButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: 0 
  }  
  